/*fonts
regular 400 - Shippori Antique B1
font-family: 'Shippori Antique B1', sans-serif;
Nunito: 
Light 300
Medium 500
Bold 700 
font-family: 'Nunito', sans-serif;
colors: #f7cb15, #368f8b, #f07167
*/

.bg-custom {
    background-color: #f07167;
}

nav {
    margin: 30px;
}

.nav-link {
    text-transform: uppercase;
    font-size: .7em;
    font-family: 'Shippori Antique B1', sans-serif;
    font-weight: 400;
    color: #368f8b;
    letter-spacing: 5px;
    padding: 10px;
}

.nav-link:hover {
    color: #f7cb15;
}

h1,
h2 {
    font-family: 'Nunito', sans-serif;
    color: #f07167
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #f07167;
    font-weight: 500;
}

footer {
    font-family: 'Shippori Antique B1', sans-serif;
    font-weight: 400;
    font-size: .8em;
    color: #f07167;
}

img {
    margin: 10px 0;
}