/*fonts 
font-family: 'Cambay', sans-serif; 400 700
font-family: 'Saira Condensed', sans-serif; 300 500

colors
#a98467 (brown) 
#436a36 (green) 
#606c38 (army green) */

h1 {
    font-weight: 700; 
    padding: 10% 0 0 0; 
}

h1, 
h6 {
    font-family: 'Cambay', sans-serif;
    color: #606c38;
}

body {
    color: #a98467; 
}

figure {
    font-size: 0.8em;
}

.graphic {
    padding: 4% 0;
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #606c38; 
    line-height: 0; 
}

a:hover {
    color: #436a36; 
}

main {
    width: 80%;
    margin: 0 auto;
}

.double-img {
    margin: 0 0 3% 0;
}

@media (max-width:450px){
    main, .graphic {
        width: 100%
    }
    .hide {
        display:none;
    }
}
