nav {
    margin: 2% 0;
}

.nav-link {
    font-family:'Cambay', sans-serif;
    font-weight: 400;
    color: #436a36; 
    padding: 10px;
}

.nav-link:hover, 
a:hover {
    color: #606c38; 
}

h1 {
    font-weight: 700; 
    padding: 5% 0 0 0; 
}

h1, 
h6 {
    font-family: 'Cambay', sans-serif;
    color: #606c38;
}

body {
    color: #a98467; 
}

figure, 
footer {
    font-size: 0.8em;
}

.graphic {
    padding: 4% 0;
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #606c38; 
    line-height: 0; 
}

main {
    width: 80%;
    margin: 0 auto;
}

.double-img {
    margin: 0 0 3% 0;
}

@media(max-width:450px){
    main, .graphic{
        width:100%;
    }
    nav{
        margin: 5% 0;
    }
    .hide{
        display:none;
    }
}