/*
Oswald: 300 and 400 font-family: 'Oswald', sans-serif;
sans source pro: 600 font-family: 'Source Sans Pro', sans-serif; */

/* homepage */
.nav a {
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

header h1 {
    text-align: center;
}

body {
    background-color: #f4eee8;
    color: #6DA34D;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #548687;
    line-height: 0;
}

.a {
    color: #6DA34D;
}

a:hover {
    color: #8fbc94;
}

h1 {
    color: #548687;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

h3 {
    color: #548687;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: center;

}

.table-borderless {
    text-align: center;
    color: #6da34d;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h5 {
    color: #548687;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

img {
    border-radius: 50%;
}

.hed {
    margin-bottom: 10%;
}

@media (max-width:768px) {
    img {
        width: 40%;
        margin-left: 25%;
    }
}